Django==1.7
django-flatblocks==0.8
{{#if drf}}djangorestframework==3.1{{/if}}
ipdb==0.8
ipython==3.0.0
factory-boy==2.4.1
funcy==1.1
gunicorn==19.0.0
{{pyDbDrive}}
Pillow==2.5.0
pystache==0.5.4
pytils==0.3
pytz==2014.7
static==1.0.2
wsgiref==0.1.2
